<body>
  <p id="notice"></p>
  <p>
    <strong>Title:</strong>
    &nbsp;<%= @book.title %>
  </p>
  <p>
    <strong>Body:</strong>
    &nbsp;<%= @book.body %>
  </p>
  <%= link_to "Edit", "/edit" %> | <%= link_to "Back", "/index" %>
</body>

